*.iml
.gradle
/local.properties

/.idea/*
!/.idea/codeStyles/
!/.idea/codeStyleSettings.xml

.DS_Store
**/build
/captures
.externalNativeBuild

app/*.keystore
!app/debug.keystore

app/publishkey.json
